
.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-lg);
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.logo{
    text-align: center;
}
.logo a{
    color: var(--color-bg);
    letter-spacing: .4rem;
    background: var(--linear-gradient);
    padding: .2rem,6rem;
    font-size: 1.2rem;
    text-decoration: none;

}
.nav-icons i{
    margin-left: 1.5rem;
    color: var(--color-light);
    cursor: pointer;
}
.nav-icons i:hover{
   color: red;
}
.nav-top input{
    width: 8rem;
    padding-left:2rem ;
}
.navigation .logo{
    display: none;
}
.container nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation {
    padding: .1rem 0;
    border-top: .07rem solid rgba(0,0,0,0.1);
    background: var(--color-bg);
    width: 100%;
    /* position: sticky; */
    position: fixed;
    top: 0;
    z-index: 11;
    box-shadow: var(--shadow);
}
.navlist{
    display:flex ;
    gap: 2rem;
    justify-content: center;
    margin: .5rem;

}
.navlist li a{
    padding: .3rem .9rem;
    font-size: .9rem;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
}
.navlist li a.active,.navlist li a:hover{
    background: var(--color-bg);
    box-shadow: inset var(--shadow);
}
.menu-btn{
    font-size: 1.3rem;
    display: none;
    position: fixed;
    
}
.navigation .scrolling{
    position: fixed;
    top: 0;
    box-shadow: var(--shadow) ;
}
